@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}
:root {
    --text-light: rgb(218, 218, 218);
    --text-gray: rgb(80, 80, 80);
    --text-dark: rgb(19, 19, 19); 
    --header: #A48D36;
    --home: #abcc4c;
    --drop-down: #C5AC4E;
    --drop-down-darker: #a79142;
}