:host::ng-deep {
    .container-fluid {
        background: var(--drop-down);
        min-height: 1000px;
    }
    .img-container {
        padding: 2px;
    }
    .img-container img {
        aspect-ratio: 1/1;
        width: 240px;
    }
    .delete-button {
        cursor: pointer;
    }
    .p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
        background: var(--home);
    }
    .dino-wrapper {
        background: var(--home);
    }
}