<p-toast key="main" position="top-center"></p-toast>

<div class="container-fluid">
    <div class="row">
        <div class="col mt-4">
            <h1 routerLink="home" class="title">Енциклопедия за динозаврите</h1>
            <h2 class="mt-5">{{ selectedDino?.title }}</h2>
        </div>
    </div>  
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center flex-column asd">
            <!-- <img [src]="selectedDino?.imgPath" width="450"> -->
            <p-image [src]="selectedDino?.imgPath!" alt="Image" width="450" [preview]="true"></p-image>           
            <button
                    pButton
                    label="Купи"
                    class="p-button-secondary mt-4"
                    (click)="onAddToShoppingCart()"
                    ></button>
        </div>
        <div class="col-lg-6 col-12">
            <p>
                {{ selectedDino?.description }}
            </p>
        
        </div>
    </div>
</div>