<div class="cont">
  <div class="dropdown">
    <button class="dropbtn">Хищници</button>
    <div class="dropdown-content">
      <li>T-рекс</li>
      <li>Алозавър</li>
      <li>Спинозавър</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Тревопасни</button>
    <div class="dropdown-content">
      <li>asd</li>
      <li>asd</li>
      <li>asd</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Летящи</button>
    <div class="dropdown-content">
      <li>asd</li>
      <li>asd</li>
      <li>asd</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Водни</button>
    <div class="dropdown-content">
      <li>asd</li>
      <li>asd</li>
      <li>asd</li>
    </div>
  </div>

  <div class="asd">
  </div>
</div>


