<div class="cont">
  <div class="dropdown">
    <button class="dropbtn">Хищници</button>
    <div class="dropdown-content">
      <li>T-рекс</li>
      <li>Алозавър</li>
      <li>Спинозавър</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Тревопасни</button>
    <div class="dropdown-content">
      <li>Диплодок</li>
      <li>Бронтозавър</li>
      <li>Патаготитански майор</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Летящи</button>
    <div class="dropdown-content">
      <li>Археоптерикс</li>
      <li>Птеродактил</li>
      <li>Аргентавис</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Водни</button>
    <div class="dropdown-content">
      <li>Ихтиозавър</li>
      <li>Мегалодон</li>
      <li>Мозазавър</li>
    </div>
  </div>

  <div class="asd">
    <img src="../_images/car1.jpg" routerLink="cart" alt="car">
  </div>
</div>


