<div class="cont">
  <div class="dropdown">
    <button class="dropbtn">Хищници</button>
    <div class="dropdown-content">
      <li
        routerLink="dino-preview"
        [queryParams]="{ id: 4}">T-рекс</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 2}">Алозавър</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 3}">Спинозавър</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Тревопасни</button>
    <div class="dropdown-content">
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 5}">Диплодок</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 1}">Бронтозавър</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 6}">Патаготитански майор</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Летящи</button>
    <div class="dropdown-content">
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 7}">Археоптерикс</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 8}">Птеродактил</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 9}">Аргентавис</li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Водни</button>
    <div class="dropdown-content">
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 10}">Ихтиозавър</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 11}">Мегалодон</li>
      <li
      routerLink="dino-preview"
      [queryParams]="{ id: 12}">Мозазавър</li>
    </div>
  </div>

  <div class="asd">
    <img src="assets/car.png" style="width: 53px; padding-top: 10px;" routerLink="cart" alt="car">
  </div>
</div>


