:host::ng-deep { 
  img {
    box-shadow: 7px 10px 50px 1px wheat;
    width: 90%;
  }
  .container-fluid {
    background-image: url("https://images.unsplash.com/photo-1583307709855-88a955597645?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    color: wheat;
  }
  p {
    font-size: 22px;
  }
}
