<div class="wrapper">
    <div class="item">
        <h1>Енциклопедия за динозаври</h1>
    </div>
    <div class="item">
        <img src="assets/991-ratio-dinozavri.jpg" width="650">
    </div>
    <div class="item">
        <p>Това е нашата енциклопедия за праисторическите животни наречени динозаври.
            В нея ще можете да намерите много информация и любопитни факти относно съществуването им и живота им на
            Земята преди около 200 млн. години.
            А за да е по-забавно, ще имате възможност да си поръчате от любимия си вид динозавър.</p>
    </div>
    <div class="img-container p-3" class="item">
        <p>dddddddddddddddddddddddddddddddddddddddddddddddddd dddddddddddddddddddddddddd ddddddddddddddddd </p>
    </div>
    <div class="img-container p-3" class="item">
        <img src="assets/image-29378.jpg" alt="" class="m-0" style="width: 700px;">
    </div>
</div>