

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center my-4">Енциклопедия за динозаври</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
            <img src="assets/991-ratio-dinozavri.jpg" class="my-3">
        </div>
        <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
            <p>Това е нашата енциклопедия за праисторическите животни наречени динозаври.
                В нея ще можете да намерите много информация и любопитни факти относно съществуването им и живота им на
                Земята преди около 200 млн. години.
                А за да е по-забавно, ще имате възможност да си поръчате от любимия си вид динозавър.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
            <p>Живели през Мезозойската ера, динозаврите са най-големите същества пребивавали на Земята някога. Има различни 
                теории за това как са изчезнали, като може би най-известаната е тази, която гласи, че са умрели
                след падането на голям астероид. </p>
        </div>
        <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
            <img src="assets/image-29378.jpg" class="my-3">
        </div>

    </div>
</div>